<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OpenID provider</title>
    <meta name="description" content="OpenID provider">
    <meta name="author" content="Sergiy Dragunov">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

  <div class="container">
      {{{body}}}
  </div>


</body>
</html>