<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>OpenID Connect provider</title>
    <meta name="description" content="OpenID provider">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,700,900,300,500' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  {{{body}}}
</div>

</body>
</html>