<div class="row">
    <h1 class="text-center">Check token</h1>

    <form class="form-horizontal col-sm-6 col-sm-offset-3" method="post">
        <div class="form-group">
            <div class="col-sm-10">
                <input type="hidden" class="form-control" name="redirectUrl" id="redirectUrl" value="{{url}}">
                <input type="hidden" class="form-control" name="externalToken" id="externalToken"
                       value="{{externalToken}}">
            </div>
        </div>
    </form>

    <p>&nbsp;</p>

    <div id="message" class="text-success text-center bg-success" style="padding: 15px;"></div>

</div>
<!--<script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>-->
<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io();

    function timeoutRedirect() {
        var redirectUrl = $('#redirectUrl').val();
        setTimeout(function () {
            document.location.replace(redirectUrl);
        }, 3000);
    }

    $(function () {
        var externalToken = $('#externalToken').val();

        socket.emit('check-token', externalToken);

        socket.on('check-token', function (response) {
            console.info('check-token: ', response);
            if (response.error) {
                $('#message').append($('p').addClass('text-danger text-center bg-danger').text(response.message));
                timeoutRedirect();
            } else {
                $('#message').append($('p').addClass('text-success text-center bg-success').text(response.message));
                socket.emit('run-auth', externalToken);
            }
        });

        socket.on('run-auth', function (response) {
            console.info('run-auth: ', response);
            if (response.error) {

            } else {

                socket.emit('check-status', externalToken);
            }
        });

        socket.on('check-status', function (response) {
            console.info('check-status: ', response);
            if (response.error) {

            } else {

            }
        });

    });

</script>