<div id="auth">
    <h1>Authorizing</h1>

    <div class="hidden">
        <input type="hidden" class="form-control" name="redirectUrl" id="redirectUrl" value="{{url}}">
        <input type="hidden" class="form-control" name="token" id="token" value="{{externalToken}}">
    </div>

    <div class="auth">

        <div id="state-wait" class="auth__content auth__content--wait" style="display: none;">
            <h2>Please wait</h2>
        </div>

        <div id="state-text_input" class="auth__content auth__content--input" style="display: none;"> </div>

        <div id="state-timer" class="auth__content auth__content--timer" style="display: none;">
            <div id="timer"></div>
            <div class="message__holder">
                <div id="message" class="message"></div>
            </div>
        </div>

        <div class="footer">
            <img class="footer__logo" src="footer-logo.png" alt="biomio logo" title=""/>

            <p class="footer__text">Multi-Factor, Password-Optional Authentication Anywhere, Everywhere</p>
        </div>
    </div>


</div>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/auth.js"></script>
<script src="/js/form.js"></script>
<script>
    var Auth = (function () {
        var socket = io();
        var state = {};

        var init = function () {
            state.$wait = $('#state-wait');
            state.$text_input = $('#state-text_input');
            state.$timer = $('#state-timer');

            socketInit();
        };

        var switchToStates = function (stateName) {
            state.$wait.hide();
            state.$text_input.hide();
            state.$timer.hide();
            state['$' + stateName].show();
        };

        var socketInit = function () {
            socket.emit('run-auth');

            socket.on('state-wait', function (response) {
                console.info('state-wait: ', response);
                switchToStates('wait');
            });

            socket.on('try:text_input', function (response) {
                console.info('try:text_input: ', response);

                var form = new Form(response.rProperties);

                form.append(state.$text_input);

                form.onSubmit = function(credentials) {
                    console.info('on submit: ', credentials);
                    socket.emit('text_input', credentials);
                };

                switchToStates('text_input');
            });

            socket.on('state-timer', function (response) {
                console.info('state-timer: ', response);
                switchToStates('timer');

                App.init({
                    flow: 'token',
                    idHolder: $('#token'),
                    messageHolder: $('#message'),
                    timerHolder: $('#timer'),
                    redirectUrl: $('#redirectUrl').val()
                });

                App.run(response);
            });
        };

        return {
            init: init
        }

    })();

    $(function () {
        Auth.init();
    });
</script>