<div id="consent">
    <h1>Consent</h1>

    <form method="post">
        <ul>
          {{#each scopes}}
              <li><strong>{{@key}}</strong> &mdash; {{explain}}</li>
          {{/each}}
        </ul>
        <div class="btn-custom-group">
            <input type="submit" name="accept" class="btn btn-custom-accept" value="Accept">
            <input type="submit" name="cancel" class="btn btn-custom-cancel" value="Cancel">
        </div>
    </form>

</div>
