<div class="row">
    <div class="well center-block user--status">
      <h1 class="text-center">OpenID provider</h1>

      {{#if user}}
          <p>{{user}}</p>
        <div class="btn btn-primary btn-block">Logout</div>
      {{else}}
        <p class="text-center">You are not logged in!</p>
      {{/if}}
    </div>
</div>
