<div class="row">
    <h1 class="text-center">OpenID provider</h1>

<!--    <ul class="list-group col-sm-offset-4 col-sm-4">
        <li class="list-group-item"><a href="/user/create">Register new user</a></li>
        <li class="list-group-item"><a href="/login">Login</a></li>
        <li class="list-group-item"><a href="/client">Clients</a></li>
        <li class="list-group-item"><a href="/client/register">Register new client</a></li>
        <li class="list-group-item"><a href="/test/clear">Test</a></li>
    </ul>-->
</div>
